<div class="container-fluid">
  <div class="row">
    <div class="col-md-8" id="affdex_elements" style="width:680px;height:480px;"></div>
    <div class="col-md-4">
      <div style="height:25em;">
        <strong>EMOTION TRACKING RESULTS</strong>
        <div id="results" style="word-wrap:break-word;"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  // SDK Needs to create video and canvas nodes in the DOM in order to function
  // Here we are adding those nodes a predefined div.
  var divRoot = $("#affdex_elements")[0];
  var width = 640;
  var height = 480;
  var faceMode = affdex.FaceDetectorMode.LARGE_FACES;
  //Construct a CameraDetector and specify the image width / height and face detector mode.
  var detector = new affdex.CameraDetector(divRoot, width, height, faceMode);

  //Enable detection of all Expressions, Emotions and Emojis classifiers.
  detector.detectAllEmotions();
  detector.detectAllExpressions();
  detector.detectAllEmojis();
  detector.detectAllAppearance();

  //Add a callback to notify when the detector is initialized and ready for runing.

  function log(node_name, msg) {
    $(node_name).append("<span>" + msg + "</span><br />")
  }

  $(function() {
    if (detector && !detector.isRunning) {
      $("#logs").html("");
      detector.start();
    }
    log('#logs', "Clicked the start button");
  });
  //function executes when Start button is pushed.


  //Add a callback to notify when camera access is allowed

  //Add a callback to notify when camera access is denied

  //Add a callback to notify when detector is stopped

  //Add a callback to receive the results from processing an image.
  //The faces object contains the list of the faces detected in an image.
  //Faces object contains probabilities for all the different expressions, emotions and appearance metrics
  detector.addEventListener("onImageResultsSuccess", function(faces, image, timestamp) {
    $('#results').html("");
    log('#results', "Timestamp: " + timestamp.toFixed(2));
    log('#results', "Number of faces found: " + faces.length);
    if (faces.length > 0) {
      log('#results', "Appearance: " + JSON.stringify(faces[0].appearance));
      log('#results', "Emotions: " + JSON.stringify(faces[0].emotions, function(key, val) {
            return val.toFixed ? Number(val.toFixed(0)) : val;
          }));
      log('#results', "Expressions: " + JSON.stringify(faces[0].expressions, function(key, val) {
            return val.toFixed ? Number(val.toFixed(0)) : val;
          }));
      log('#results', "Emoji: " + faces[0].emojis.dominantEmoji);
      drawFeaturePoints(image, faces[0].featurePoints);
    }
  });
</script>